.jumbotron {
  height: 80vh;
  background-image: url(city.jpg);
  object-fit: cover;
  background-size: 100%;

  padding-top: 300px;
}
.jumbotron > .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
}
.jumbotron > .content > h1 {
  font-size: 100px;
  margin-bottom: 30px;
}

.jumbotron > .content > p {
  font-size: 12px;
  margin-bottom: 40px;
}

.jumbotron > .content > .button {
  width: fit-content;
  padding: 5px 100px;
  border: 1px solid white;
}
