.jumbotron {
  height: 80vh;

  padding-top: 300px;

  background-image: url(city.jpg);
  object-fit: cover;
  background-size: 100%;
}
.jumbotron > .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.jumbotron > .content > strong {
  font-size: 100px;
  color: white;
}
.jumbotron > p {
  color: gray;
}

.jumbotron > .content > .button {
  width: fit-content;
  text-align: center;
  border: 1px solid gray;
  padding: 5px 150px;
  color: white;
}
