.container {
  width: 1000px;
  height: 1000px;
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.box {
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.green {
  background-color: rgb(64, 255, 47);
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
