.info {
  width: 100%;
  height: 50vh;
  margin-bottom: 50px;
}
.info > .menu1 {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.info > .menu1 > .title_layout {
  width: 100%;

  display: flex;
}

.info > .menu1 > .title_layout > div {
  width: 50%;

  display: flex;
  align-items: center;

  margin-bottom: 50px;
}
.info > .menu1 > .title_layout > .title {
  font-size: 30px;
  font-weight: 700;
}
.info > .menu1 > .title_layout > .introduction {
  height: fit-content;
  padding-left: 20px;

  border-left: 2px solid grey;

  line-height: 20px;
}

.info > .menu1 > .card_layout {
  width: 100%;
  display: flex;
  gap: 20px;
}

.info > .menu1 > .card_layout > .card {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  line-height: 20px;
}

.info > .menu1 > .card_layout > .card > .icon {
  font-size: 50px;
  color: blue;
}
.info > .menu1 > .card_layout > .card > .sub_title {
  font-size: 20px;
  font-weight: 700;
  color: blue;
}

@media screen and (max-width: 768px) {
  .info > .menu1 > .title_layout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }
  .info > .menu1 > .title_layout > div {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info > .menu1 > .title_layout > .introduction {
    width: 100%;
    border: none;
  }
  .info > .menu1 > .card_layout {
    display: flex;
    flex-direction: column;
  }
}
