.card {
  margin: 10px auto;
  width: 250px;

  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card > .card_icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card > .card_img {
  width: 100px;
  height: 100px;

  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  margin-bottom: 10px;
}

.card > .card_img > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.card > .card_description-job {
  color: gray;
  font-size: 13px;
  margin-bottom: 20px;
}
.card > .card_btn-more {
  width: 60%;
  padding: 8px 0;

  color: white;
  background-color: #3db9cf;
  font-size: 10px;

  border: none;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  margin-bottom: 30px;
}
.card > .card_description {
  width: 100%;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 30px;
}
.card > .card_description > .card_description-sns {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.card > .card_colorBtn {
  display: flex;
  gap: 30px;

  margin-bottom: 10px;
}

.card > .card_colorBtn > button {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 100%;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card > .card_colorBtn > .blue {
  background-color: blue;
}
.card > .card_colorBtn > .green {
  background-color: green;
}
.card > .card_colorBtn > .pink {
  background-color: pink;
}
.card > .card_colorBtn > .purple {
  background-color: purple;
}
